boto3==1.4.7
botocore==1.7.4
click==6.7
climax==0.3.1
docutils==0.14
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.9.6
jmespath==0.9.3
lambda-uploader==1.2.0
MarkupSafe==1.0
merry==0.2.0
python-dateutil==2.6.1
PyYAML==3.12
s3transfer==0.1.11
six==1.10.0
slam==0.6.0
virtualenv==15.1.0
Werkzeug==0.12.2
pynamodb==3.1.0